
<ion-view title="SCORES">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Player</span>
        <input type="text" ng-model="Fplayer" placeholder="First Player">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Second Player</span>
        <input type="text" ng-model="Splayer" placeholder="Second Player">
      </label>

    </div>

  </ion-content>
</ion-view>

